
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    
}
aside{
    margin: 24px 4px;
    padding:0px 80px 0px 8px ;
    
}
main{
    background-color: #f1f1f1;
    padding: 16px;
}
.aside-image{
    padding: 0 8px;
    
}
.aside-image img{
    width: 113px;
    height: 113px;
    border-radius: 4px;

}

.aside-image p:nth-child(1){
    font-weight: 700;
    font-size: larger;
    margin: 16px 0px;
}
.aside-image p:nth-child(2){
    font-size: 18px;
    margin-bottom:16px ;
    display: block;
    width: 169px;
}
.adisd-list >ul>li>a{
    text-decoration: none;
    color: black;
    margin-left: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.adisd-list>ul>li{
    margin-bottom: 24px;
    
}
.asid-list-icon{
    margin: 0;
    padding: 0;
    list-style-type:none ;
    
    
}
.main-navbar{
    margin: 16px 0px;
    padding: 16px 0px;

}
.main-navbar-button svg{
    margin-right: 6px;
}
.main-navbar-button{
    padding: 8px 16px;
    margin-right: 4px;
    border: none;
    background-color: white;
    cursor: pointer;
    
}
.main-navbar-button:hover{
    background-color: #b4b4b4;
    color: black;
}
.main-navbar-button:nth-child(2){
    background-color: black;
    color: #fff;
}
.main-navbar-button:nth-child(2):hover{
    background-color: #b4b4b4;
    color: black;
}
.mian-section > article{
    width: 385px;
    height: 100%;
    background-color: #fff;
    margin: 16px 16px 16px 0px;
    margin-right: 16px;
}
.mian-section >article >div:nth-child(1){
    display: inline;
    width: 385px;
    height: 256px;
}
.mian-section >article >div:nth-child(2){
    display: inline;
    padding: 0px 16px;
}
.mian-section > article > div >p{
    margin: 15px 0px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 24px;
    font-size: 14px;
}
.countable{
    padding: 32px 0px;
    text-align: center;

}
.countable > a{
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}
.countable > a:hover{
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    background-color: black;
}
.countable > a:nth-child(2){
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    background-color: black;
}
.two-image-under div{
    display: inline-block;
    padding: 0px 8px;
    width: 601px;
    height: 367px;
}
.two-image-under div img{
    width: 100%;
}

